.app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .my-day-container {
    text-align: center;
  }
  
  .calendar-content-container {
    flex: 1;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(51, 49, 49), rgba(51, 49, 49, 0));
  }
  
  .separator-line {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .separator-line-satan-image {
    width: 60%;
    max-width: 500px;
  }
  