.App {
  text-align: center;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 20px;
  height: 100%;
}


.my-day {
  font-family: 'Hellbone-demo', sans-serif; /* Use the 'Hellbone-demo' font for the h1 element */
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:flex-start; /* Position the element absolutely */
  top: 5px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  color: black; /* Text color */
  font-size: 5rem;
  letter-spacing: 5px;
  text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  margin: 0;
}

.date-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.date {
  font-family: 'Hellbone-demo', sans-serif; /* Use the 'Hellbone-demo' font for the h1 element */
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:flex-start; /* Position the element absolutely */
  color: black; /* Text color */
  font-size: 2rem;
  letter-spacing: 5px;
  text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  margin: 0;

}

.date-numbers {
  font-family: 'Dystopian-future', sans-serif; /* Use the 'Hellbone-demo' font for the h1 element */
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:flex-start; /* Position the element absolutely */
  color: black; /* Text color */
  font-size: 35px;
  letter-spacing: 10px;
  text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  margin: 0;
  margin-right: 10px;
}

.day {
  margin-right: 10px;
}

.todo-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: blue;
  height: 90%;
  width: 90%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: red;
  min-height: 10%;
  width: 100%;
}